* {
    box-sizing: border-box;
}
.HomePage{ 
    min-height: 100vh;
    background-color: none;
    display: flex;
    flex-direction: column;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 700px;
    width: 100%;
    box-sizing: border-box;
}
.left-content{
    flex:1;
    max-width: 50%;
   
}
.title{
    opacity: 0;
    font-size:4rem;
    color: #add8e6;
    text-shadow: 0px 0px 10px rgba(173, 216, 230, 0.8);
    margin: 0;
    animation: fade-in-up 1s, glitch 1s forwards;
    animation-delay: .5s;
}
.descr{
    opacity: 0;
    font-size: 1.5rem;
    color: #add8e6;
    text-shadow: 0px 0px 8px rgba(173, 216, 230, 0.8);
    margin-top: 100px;
    animation: fade-in-up 1s forwards;
    animation-delay: 1s;
}
.right-content{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes glitch {
    0% {
        opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 1px 1px #043369, -1px -1px #add8e6;;
  }
  35% {
    text-shadow: 10px 10px #add8e6, -10px -10px #043369;
  }
  65% {
    text-shadow: 1px 1px #1c4e86, -1px -1px #add8e6;;
  }
  100% {
    opacity: 1;
    text-shadow: 3px 3px #1c4e86, -3px -3px #add8e6;;
  }
}

@keyframes fade-in-up {
    from {
      transform: translateY(20pt);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }