 .ServicePage {
    text-align: center;
    background-color: linear-gradient(155deg, #191f29, #61dafb);
    height: 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: Left;
    font-size: calc(10px + 2vmin);

  }
 
 h1 {
  margin-bottom: 20px;
  font-size: calc(10px + 2vmin);
  color: rgb(90, 188, 205);
    
  }
  section{
    display: flex;
    text-align: left;
    color: #61dafb;
    background: none;
  }
  button {
    background: linear-gradient(135deg, #61dafb, #21a1f1);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px; 
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}
.buttonContainer {
  position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
button:hover{
  background: linear-gradient(135deg, #21a1f1, #007acc);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
button:active {
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}